<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traffic Lights Simulator MQ SERVER</title>
    <style>
      div {
        display: grid;
        place-items: center;
        width: 90vw;
        height: 90vh;
      }
      h1 {
        width: auto;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Traffic Lights Simulator Flask-SocketIO MQ Server Template</h1>
    </div>
  </body>
</html>
